{% extends "views/admin.html" %}
{% block content %}
    <!-- Novedades -->
	<div id="header"></br>
		<div class="container">
			<div class="row"> 		
				<!--{% for Comentario in Comentarios %}-->
				<div class="jumbotron">
					<h2>{{Comentario.titulo}}</h2>
					<h4>{{Comentario.autor}}</h4>
					<p>{{Comentario.texto}}</p>
					<!--<a href="/aceptarComentario">--><button type="submit" class="btn btn-theme">Aceptar</button></a>
					<!--<a href="/rechazarComentario">--><button type="submit" class="btn btn-theme">Rechazar</button></a>	
				</div>
				<!--{% endfor%} -->
			</div>
		</div>
	</div>
{% endblock %}