<!doctype html>
<html>
	<head>
		<link href="/stylesheets/bootstrap.css" rel="stylesheet">
		<link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
		<link type="text/css" href="/stylesheets/style.css" rel="stylesheet"/>
	</head>
	<body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <IMG SRC="../images/logo.jpg"><a class="h1">EUROVISI&Oacute;N</a>
                <hr></hr>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Inicio</a>
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="comentarios">Comentarios</a></li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="registro">Registro</a></li>
                        <li><a href="iniciarSesion">Iniciar Sesi&oacute;n</a></li>
                    </ul>
                </div>
				<!--/.nav-collapse -->
            </div>
        </div></br></br>
		<div id="content">{% block content %}{% endblock %}</div>
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<p class="copyright">Creado por Adri&aacute;n L. y Yeray G.</p>
						<p class="copyright">Facultad de Inform&aacute;tica , Universidad del Pais Vasco / Euskal Herriko Unibertsitatea (UPV/EHU)</p>
						<p class="copyright">Curso 2015-16</p>
					</div>
				</div>		
			</div>
		</div>
	</body>
</html>